 <mat-card class="about-card">
    <mat-card-header>
        <mat-card-title> About Us </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="bd-callout" style="border-left-color: #f0ad4e;">
            <p>Student Name:</p>
            <h3>Devang P. Bhalala</h3>
        </div>
        <div class="bd-callout" style="border-left-color: #53da1e;">
            <p>Roll No:</p>
            <h3>CE007</h3>
        </div>
        <div class="bd-callout" style="border-left-color: #0a6cdb;">
            <p>College ID:</p>
            <h3>18CEUON022</h3>
        </div>
        <div class="bd-callout" style="border-left-color: #d3154e;">
            <p>Semester:</p>
            <h3>5th</h3>
        </div>
    </mat-card-content>
</mat-card> 

<!-- <dp-footer></dp-footer> -->
