<div class="page-footer bg-dark font-small blue">
    <br><br>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img class="img-fluid center" style="width: 100%;" src="assets/static/home-page-images/book_store_woman.png"
                alt="Book Store Woman">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <br>
            <br>
            <div class="list-group">
                <a href="/home" class="list-group-item list-group-item-action">Home</a>
                <a href="/books" class="list-group-item list-group-item-action">Books</a>
                <a href="/aboutus" class="list-group-item list-group-item-action">About Us</a>
            </div>
            <br><br>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <br>
            <br>
            <div class="p-3 mb-5 bg-info text-left text-white strong">
                Follow us on:
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <a href="#">Facebook</a></li>
                <li class="list-group-item"> <a href="#">Instagram</a></li>
                <li class="list-group-item"> <a href="#">Twitter</a></li>
                <li class="list-group-item"> <a href="#">Snapchat</a></li>
                <li class="list-group-item"> <a href="#">Email</a></li>
            </ul>
        </div>
    </div>
    <br><br>
    <br>
</div>
