<mat-card class="profile-card">
    <mat-card-header>
        <mat-card-title> Update </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form action="" method="post" [formGroup]="userGroup">
            <table class="full-width">
                <tr>
                    <td>
                        <!-- <mat-form-field>
                            <mat-label>Enter your email</mat-label>
                            <input type="email" name="email" id="email" matInput required formControlName="email" >
                        </mat-form-field> -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Your email</mat-label>
                            <input matInput name="email" id="email"
                                [value]="this.email" disabled>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input type="text" name="uname" id="uname" matInput required formControlName="uname" >
                        </mat-form-field> -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Enter username</mat-label>
                            <input matInput name="uname" id="uname" placeholder="user123"
                                [formControl]="userGroup.get('uname')" required>
                        </mat-form-field>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <!-- <mat-form-field>
                            <mat-label>Enter your password</mat-label>
                            <input type="password" name="pwd" id="pwd" matInput required formControlName="pwd" >
                        </mat-form-field> -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Enter your old password</mat-label>
                            <input matInput name="oldpwd" id="oldpwd" [type]="hide_old ? 'password' : 'text'"
                                [formControl]="userGroup.get('oldpwd')" required>
                            <button mat-icon-button matSuffix (click)="hide_old = !hide_old" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide_old">
                                <mat-icon>{{hide_old ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- <mat-form-field>
                            <mat-label>Enter your password</mat-label>
                            <input type="password" name="pwd" id="pwd" matInput required formControlName="pwd" >
                        </mat-form-field> -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Enter your new password</mat-label>
                            <input matInput name="pwd" id="pwd" [type]="hide ? 'password' : 'text'"
                                [formControl]="userGroup.get('pwd')" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="userGroup.get('pwd').invalid">{{getPwdErrorMessage()}}</mat-error>
                            <mat-hint>Prefer combination of alphanumerics</mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- <mat-form-field>
                            <mat-label>Confirm your password</mat-label>
                            <input type="password" name="confpwd" id="confpwd" matInput required formControlName="confpwd" >
                        </mat-form-field> -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Enter new password again</mat-label>
                            <input matInput name="confpwd" id="confpwd" [type]="hide_conf ? 'password' : 'text'"
                                [formControl]="userGroup.get('confpwd')" required>
                            <button mat-icon-button matSuffix (click)="hide_conf = !hide_conf"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_conf">
                                <mat-icon>{{hide_conf ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="userGroup.get('confpwd').invalid">{{getConfpwdErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input type="text" name="uname" id="uname" matInput required formControlName="uname" >
                        </mat-form-field> -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Enter Address</mat-label>
                            <input matInput name="address" id="address" placeholder="Shaitan gali, Katra Mahel, Andher Nagar, Shamsaan Ghat ke Samne"
                                [formControl]="userGroup.get('address')" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-error *ngIf='err'> {{ err | async }} </mat-error>
                        <button mat-raised-button color="primary" (click)="update()" class="full-width"
                            tabindex="0">Update</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button mat-raised-button color="warn" (click)="delete()" class="full-width"
                            tabindex="0">Delete</button>
                    </td>
                </tr>
            </table>
        </form>
        <br>
    </mat-card-content>
</mat-card>
