<div id="mainHomeCont" class="container center" style="width: 95%;">
    <br>
    <img class="img-fluid center" style="width: 100%;" src="assets/static/home-page-images/book_store_shop_banner.png"
        alt="Book Store Banner">
    <br>
    <div class="container center" style="width: 100%;">
        <div class="p-3 mb-5 bg-primary text-white strong">
            Take a look aat the books we have....
        </div>
    </div>
    <div id="bookCarousel" class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 container border border-info">
                <br>
                <br>
                <div id="dsa-books-carousel" class="carousel slide" data-ride="carousel">
                    <div id="dsa-books-carousel-inner" class="carousel-inner" role="listbox">
                        <div class="p-3 mb-5 bg-info text-center text-white strong">
                            DSA
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#dsa-books-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#dsa-books-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <br><br>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 container border border-info">
                <br>
                <br>
                <div id="dsc-books-carousel" class="carousel slide" data-ride="carousel">
                    <div id="dsc-books-carousel-inner" class="carousel-inner" role="listbox">
                        <div class="p-3 mb-5 bg-info text-center text-white strong">
                            Data Science
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#dsc-books-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#dsc-books-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <br><br>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 container border border-info">
                <br>
                <br>
                <div id="lang-books-carousel" class="carousel slide" data-ride="carousel">
                    <div id="lang-books-carousel-inner" class="carousel-inner" role="listbox">
                        <div class="p-3 mb-5 bg-info text-center text-white strong">
                            Languages
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#lang-books-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#lang-books-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <br><br>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 container border border-info">
                <br>
                <br>
                <div id="blch-books-carousel" class="carousel slide" data-ride="carousel">
                    <div id="blch-books-carousel-inner" class="carousel-inner" role="listbox">
                        <div class="p-3 mb-5 bg-info text-center text-white strong">
                            Blockchain
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#blch-books-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#blch-books-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <br><br>

            </div>
        </div>
    </div>
    <br><br>
    <br><br>
</div>

<dp-footer></dp-footer>